<form class="form-horizontal" action='create' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Create a post</legend>
    </div>
    <div class="form-group">
      <!-- Username -->
      <label for="username">Title</label>
      <div class="controls">
        <input type="text" id="title" name="title" placeholder="" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <div class="controls">
        <textarea id="content" rows="15" name="content" placeholder="" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4">
        <input type="checkbox" id="properties[isPrivate]" name="properties[isPrivate]"/>
        <label for="properties[isPrivate]">Private Post?</label>
      </div>
      <div class="col-md-4">
        <input type="checkbox" id="status[isPublished]" name="status[isPublished]" />
        <label for="status[isPublished]">Published?</label>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>

  </fieldset>
</form>